.vscode/**
.vscode-test/**
src/**
!out/webview/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/tsconfig.webview.json
**/vite.config.webview.mts
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.tsx
**/.vscode-test.*
